*{
    margin:0;
    padding: 0;
}

ul li{
    list-style: none;
}

div a{
    text-decoration: none;
}

body{
    font-family: "Inter", sans-serif;
}

header{
    background-image: url(../foto/luchiana-background.png);
    width: 100%;
    height: 340px;
    background-size: 285px 290px;
}

header .parent{ 
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

header .parent ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

header .logo1{
    padding-left: 50px;
}

.ull li a{
    color:white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

header .icons i{
    padding-right: 30px;
    color:black;
}

header .center{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color:white;
    font-weight: 300;
    font-size: 54px;
    text-align: center;
    letter-spacing: 14px;
    text-transform: uppercase;
}

header .end{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 38px;
}

.end a{
    color:white;
    font-weight: 600;
    font-size: 10px; 
    margin: 2px;
    text-transform: uppercase;
}

.end i{
    font-size: 11px;
    color:white;
    margin: 5px;
}

section{
    width: 100%;
    background-color: rgba(226, 225, 224, 0.712);
}

.container{
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.left-nav{
    width: 25%;
    height: 1130px;
    background-color: rgb(255, 255, 255);
}

.left-nav h2{
    letter-spacing: 8px;
    margin: 20px;
    font-size: 20px;
}

.left-nav a p {
    margin: 20px;
}

.left-nav ul{
    margin-left: 40px;
    line-height: 30px;
}

.left-nav h3{
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.left-nav input{
    width: 80%;
    margin-left: 30px;
}

.left-nav .price{
    margin: 20px;
}

.left-nav .button1{
    width: 70%;
    height: 46px;
    margin-left: 42px;
    border: 1px solid black;
    background-color: snow;
}

.button1:hover{
    background-color: black;
}

.button1{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 10px;
    color:black
}
.button1:hover{
    color:snow;
}

.left-nav h4{
    text-transform: uppercase;
    margin: 30px;
    font-size: 19px;
    letter-spacing: 6px;
}

.radius a{
    display: flex;
    justify-content: flex-start;
}

.left-nav ul li {
    font-size: 14px;
    margin-left: 14px;
}

.ull1{
    display: flex;
    justify-content: flex-start;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid black;;
    background-color: black;
}

.ull2{
    display: flex;
    justify-content: flex-start;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #8e5c36 ;
    background-color: #8e5c36;
}

.ull3{
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #dd1c;
    background-color: #dd1c1c;
}

.left-nav h5{
    margin: 20px;
    font-size: 19px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.evenly{
    display: flex;
    justify-content: space-evenly;
}

.left-nav .button2{
    width: 30%;
    height: 40px;
    margin-top: 20px;
    border: 1px solid;
}

.button2{
    color:black;
}

.button2:hover{
    color:snow;
}

button{
    background-color:snow;
}

button:hover{
   background-color:black ;
}

.left-nav h6{
    font-size: 19px;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin: 20px;
}

.block li a{
    font-size: 18px;
    line-height: 40px;
}

